form.form_feedback
    input(type="text", placeholder="#{$feedback_email_placeholder}", name="email")#email
    textarea(type="text", placeholder="#{$feedback_textarea_placeholder}", name="text")#textarea
    input(type="submit", value="#{$feedback_submit_value}")#submit
